<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="convert_blog_post_view_event_after">
        <observer name="convert_blog_post_view_event_after_observer" instance="Convert\Blog\Observer\PostViewAfterEventObserver"/>
    </event>
</config>
